@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root{
    --color-blueDark: #044159;
    --color-background: #85C8E2;
    --color-white: #ffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-family: "Sen", sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 3.7% 20% 5% 20%;

    position: relative;
    padding-bottom: 100px;
}

.titulo-principal{
    font-family: 'Staatliches', sans-serif;
    font-size: 55px;
    margin: 0 0 3% 0;
}

.container-input{
    display: flex;
    justify-content: space-around;
}

.input-container{
    max-width: 450px;
}

.form-texto-input{
    background-color: var(--color-background);
    border: 3px solid var(--color-blueDark);
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 234px;
    width: 100%;
}

.form-texto-input::placeholder{
   color: var(--color-blueDark);
   
}

.form-texto-input:focus{
    outline: none;
    color: var(--color-blueDark);
    font-size: 20px;
}

.texto-output{
    border: none;
    background-color: var(--color-background);
    padding: 10px 10px;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 400px;
    max-width: 660px;
}

.div-right{
    width: 100%;
    margin: 0 0 0 15px;
}

.form-texto-output{
    background-color: var(--color-background);
    border: 3px solid var(--color-blueDark);
    border-radius: 6px;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 355px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.titulo-segundario{
    font-size: 24px;
    text-align: center;
    padding: 30% 0;
}

.span-abaixo{
    text-align: center;
    padding: 15px 0;
}


.form-texto-output::placeholder{
    color: var(--color-blueDark);
}

.form-texto-output:focus{
    outline: none;
}

.aviso{
    display: flex;
    font-size: 14px;
}

.img-aviso{
    margin: 0 7px;
    height: 18px;
    width: 18px;
}

.container-buttons{
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}

.buttom{
    padding: 15px;
    width: 218px;
    border-radius: 100px;
    margin: 5px 5px;
    cursor: pointer;
}

.btn-criptografar{
    background-color: var(--color-blueDark);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.btn-descriptografar{
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--color-blueDark);
}

.btn-copiar{
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--color-blueDark);
    margin: 3% 11% 2% 11%;
}

.rodape{
    background: var(--color-blueDark);
    color: var(--color-white);
    height: 70px;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.redes-sociais{
    display: flex;
    color: var(--color-white);
    text-decoration: none;
    padding: 3px 0;
    gap: 3px;
    width: 27px;
    height: 27px;
}