@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root{
    --color-blueDark: #044159;
    --color-background: #85C8E2;
    --color-white: #ffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-family: "Sen", sans-serif;
}

.container{
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 5% 15%;
}

/*corpo-------------------------------------*/

.container-main{
    margin: 5% 0 0 0;
}

.titulo-principal{
    font-family: 'Staatliches', sans-serif;
    font-size: 64px;
    margin: 3% 0;
}

/*areas de textos da direita-----------------------------------*/

.container-rl{
    display: flex;
}

.container-left{
    width: 100%; 
}

.form-texto-input{
    background-color: var(--color-background);
    border: 3px solid var(--color-blueDark);
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 234px;
    width: 100%;
}

.form-texto-input::placeholder{
   color: var(--color-blueDark);
   
}

.form-texto-input:focus{
    outline: none;
}

/*aviso--------------------------------------*/
.aviso{
    display: flex;
    font-size: 14px;
}

.img-aviso{
    margin: 0 7px;
    height: 18px;
    width: 18px;
}

/*botaos-------------------------------------*/

.container-buttons{
    margin: 8% 0;
    display: flex;
    justify-content: space-between;
}

.buttom{
    padding: 15px;
    width: 218px;
    border-radius: 100px;
    margin: 5px 5px;
    cursor: pointer;
}

.btn-criptografar{
    background-color: var(--color-blueDark);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.btn-descriptografar{
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--color-blueDark);
}

.buttom-copiar{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 21px 0;
}

.btn-copiar{
    background-color: var(--color-background);
    color: var(--color-blueDark);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--color-blueDark);
}

/*areas de textos da esquerda--------------------*/

.div-right{
    width: 100%;
    margin: 0 10px 0 25px;
}

.form-texto-output{
    background-color: var(--color-background);
    border: none;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 250px;
    width: 100%;
}

.textarea-right{
    background-color: var(--color-background);
    border: 3px solid var(--color-blueDark);
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    resize: none; /*o user n conseguir mudar o tam*/
    height: 370px;
    width: 247px;
}


.form-texto-output::placeholder{
    color: var(--color-blueDark);
}

.form-texto-output:focus{
    outline: none;
}

/*footer----------------------------------------*/

footer{
    background: var(--color-blueDark);
    color: var(--color-white);
    height: 53px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    font-weight: 400;
}




